<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/video" enctype="multipart/form-data" method="post">
      <input type="text" name="title" />
      <input type="file" id="test" onchange="getDuration()" name="what" />
      <input type="submit"/>
    </form>
    <script type="text/javascript">
      function getDuration(){
         var size = document.getElementById("test").files[0].size/1048567; 
         /*if (size > 13){
           alert("Cannot exceed size of 15 MB");
           document.getElementById("test").value = '';
         }*/
      };
    </script>
  </body>
</html>
